// Header
$burgerBreakpoint: 992px;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Navbar
nav {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    a {
        color: black;
        font-family: 'Kaushan Script', cursive;
        font-size: 30px;
    }
    @media screen and (max-width: 480px) {
        font-size: 15px;
    }
}

.menu {
    display: flex;
    gap: 20px;
    background: #fff;
    padding: 5px;
    @media screen and (max-width: 768px) {
        gap: 15px;
    }
    @media screen and (max-width: 480px) {
        position: fixed;
        bottom: 0;
        left: 0;right: 0;
        width: 100%;
        justify-content: space-around;
    }


    // .menu__item
    &__item {
        &.direct {
            @media screen and (max-width: 480px) {
                display: none;
            }
        }
        &.compass {
            @media screen and (max-width: 480px) {
                display: none;
            }
        }
        &.directMobile {
            display: none;
            @media screen and (max-width: 480px) {
                display: block;
            }
        }
        &.lins {
            display: none;
            @media screen and (max-width: 480px) {
                display: block;
            }
        }

        & button {
            background: transparent;
        }
    }
    // .menu__item-link
    &__item-link {
        color: black;
        font-size: 25px;
        @media screen and (max-width: 768px) {
            font-weight: normal;
        }
        & img {
            width: 25px;
            height: 25px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
}

.search__bar {
    width: 270px;
    height: 35px;
    background: rgb(243, 241, 241);
    color: black;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    @media screen and (max-width: 768px) {
        display: none;
    }
    & .icon {
        color: gray;
        font-size: 20px;
        
    }

    .search {
        outline: none;
        background: transparent;
        padding: 5px;
        
    }

    
}